body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    filter: blur(10px); 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1); 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    z-index: 1; 
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333333;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.element-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#prompt-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    color: white;
    opacity: 1;
    /* z-index: 2; */
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    /* margin: 20% auto; */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.show-loader {
    z-index: 2;
}

.asdf {
    background-color: #CCCCCC;
    background-color: #FFD700;
    background-color: #6495ED;
    background-color: #FF6347;
    background-color: #8B4513;
    background-color: #556B2F;
    background-color: #FFA500;
}